# Drawing Conclusions Quiz
Use the space below to explore `store_data.csv` to answer the quiz questions below.

In [1]:
# imports and load data
import pandas as pd
%matplotlib inline

df = pd.read_csv('store_data.csv')
df.head()

         week  storeA  storeB  storeC  storeD  storeE
0  2014-05-04    2643    8257    3893    6231    1294
1  2014-05-11    6444    5736    5634    7092    2907
2  2014-05-18    9646    2552    4253    5447    4736
3  2014-05-25    5960   10740    8264    6063     949
4  2014-06-01    7412    7374    3208    3985    3023

In [2]:
# explore data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
week      200 non-null object
storeA    200 non-null int64
storeB    200 non-null int64
storeC    200 non-null int64
storeD    200 non-null int64
storeE    200 non-null int64
dtypes: int64(5), object(1)
memory usage: 9.5+ KB

In [4]:
df['week'] = pd.to_datetime(df['week'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
week      200 non-null datetime64[ns]
storeA    200 non-null int64
storeB    200 non-null int64
storeC    200 non-null int64
storeD    200 non-null int64
storeE    200 non-null int64
dtypes: datetime64[ns](1), int64(5)
memory usage: 9.5 KB

In [7]:
# total sales for the last month
df.iloc[-4:, 1:].sum()

storeA    25127
storeB    24595
storeC    16447
storeD    22783
storeE     7787
dtype: int64

In [8]:
# average sales
df.iloc[:, 1:].mean()

storeA    5865.480
storeB    6756.710
storeC    4942.105
storeD    5431.405
storeE    2580.025
dtype: float64

In [11]:
# sales on march 13, 2016
df[df['week'] == '2016-03-13']

         week  storeA  storeB  storeC  storeD  storeE
97 2016-03-13    2054    1390    5112    5513    2536

In [13]:
# worst week for store C
low_sale = df['storeC'].min()
df[df['storeC'] == low_sale]['week']

9   2014-07-06
Name: week, dtype: datetime64[ns]

In [15]:
# total sales during most recent 3 month period
df.iloc[-12:, 1:].sum()

storeA    82412
storeB    75544
storeC    60417
storeD    68412
storeE    27221
dtype: int64