# Assessing
Use the space below to explore `all_alpha_08.csv` and `all_alpha_18.csv` to answer the quiz questions below.
--
Assessing Data
The files all_alpha_08.csv and all_alpha_18.csv discussed in the previous pages have been provided in the workspace for you here to access. Use pandas to explore these datasets in the Jupyter Notebook below to answer the quiz questions below the notebook about these characteristics of the data:

- number of samples in each dataset
- number of columns in each dataset
- duplicate rows in each dataset
- datatypes of columns
- features with missing values
- number of non-null unique values for features in each dataset
- what those unique values are and counts for each

In [1]:
import pandas as pd

In [3]:
alpha_08_df = pd.read_csv('all_alpha_08.csv')
alpha_08_df.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,Drv,16,24,19,24.5629,5,no

In [4]:
alpha_18_df = pd.read_csv('all_alpha_18.csv')
alpha_08_df.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,Drv,16,24,19,24.5629,5,no

### Number of Samples

In [5]:
print("Number of samples in aplha_08: {}".format(alpha_08_df.shape[0]))
print("Number of samples in aplha_18: {}".format(alpha_18_df.shape[0]))

Number of samples in aplha_08: 2404
Number of samples in aplha_18: 1611

### Number of Columns in Each Dataset

In [6]:
print("Number of columns in aplha_08: {}".format(alpha_08_df.shape[1]))
print("Number of columns in aplha_18: {}".format(alpha_18_df.shape[1]))

Number of columns in aplha_08: 18
Number of columns in aplha_18: 18

### Duplicate Rows in Each Dataset

In [10]:
print("Number of Duplicated Samples in alpha_08: {}".format(alpha_08_df[alpha_08_df.duplicated()].shape[0]))
print("Number of Duplicated Samples in alpha_18: {}".format(alpha_18_df[alpha_18_df.duplicated()].shape[0]))

Number of Duplicated Samples in alpha_08: 25
Number of Duplicated Samples in alpha_18: 0

### Datatypes of Columns

In [11]:
print(alpha_08_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 18 columns):
Model                   2404 non-null object
Displ                   2404 non-null float64
Cyl                     2205 non-null object
Trans                   2205 non-null object
Drive                   2311 non-null object
Fuel                    2404 non-null object
Sales Area              2404 non-null object
Stnd                    2404 non-null object
Underhood ID            2404 non-null object
Veh Class               2404 non-null object
Air Pollution Score     2404 non-null object
FE Calc Appr            2205 non-null object
City MPG                2205 non-null object
Hwy MPG                 2205 non-null object
Cmb MPG                 2205 non-null object
Unadj Cmb MPG           2205 non-null float64
Greenhouse Gas Score    2205 non-null object
SmartWay                2404 non-null object
dtypes: float64(2), object(16)
memory usage: 338.1+ KB
None

In [12]:
print(alpha_18_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 18 columns):
Model                   1611 non-null object
Displ                   1609 non-null float64
Cyl                     1609 non-null float64
Trans                   1611 non-null object
Drive                   1611 non-null object
Fuel                    1611 non-null object
Cert Region             1611 non-null object
Stnd                    1611 non-null object
Stnd Description        1611 non-null object
Underhood ID            1611 non-null object
Veh Class               1611 non-null object
Air Pollution Score     1611 non-null int64
City MPG                1611 non-null object
Hwy MPG                 1611 non-null object
Cmb MPG                 1611 non-null object
Greenhouse Gas Score    1611 non-null int64
SmartWay                1611 non-null object
Comb CO2                1611 non-null object
dtypes: float64(2), int64(2), object(14)
memory usage: 226.6+ KB
None

### Number of Non-null Unique Values for Features in Each Dataset

In [19]:
new_alpha_08_df = alpha_08_df.dropna(axis=0, inplace=False)
print(alpha_08_df.shape[0] - new_alpha_08_df.shape[0])

199

In [20]:
new_alpha_18_df = alpha_18_df.dropna(axis=0, inplace=False)
print(alpha_18_df.shape[0] - new_alpha_18_df.shape[0])

2

### What Those Unique Values are and Counts for Each

In [24]:
for column in alpha_08_df.columns:
    print("{0} : {1}".format(column, alpha_08_df[column].nunique()))

Model : 436
Displ : 47
Cyl : 8
Trans : 14
Drive : 2
Fuel : 5
Sales Area : 3
Stnd : 12
Underhood ID : 343
Veh Class : 9
Air Pollution Score : 13
FE Calc Appr : 2
City MPG : 39
Hwy MPG : 43
Cmb MPG : 38
Unadj Cmb MPG : 721
Greenhouse Gas Score : 20
SmartWay : 2

In [25]:
for column in alpha_18_df.columns:
    print("{0} : {1}".format(column, alpha_18_df[column].nunique()))

Model : 367
Displ : 36
Cyl : 7
Trans : 26
Drive : 2
Fuel : 5
Cert Region : 2
Stnd : 19
Stnd Description : 19
Underhood ID : 230
Veh Class : 9
Air Pollution Score : 6
City MPG : 58
Hwy MPG : 62
Cmb MPG : 57
Greenhouse Gas Score : 10
SmartWay : 3
Comb CO2 : 299

### Fuel Type

In [27]:
alpha_08_df.Fuel.value_counts()

Gasoline       2318
ethanol/gas      72
diesel           11
CNG               2
ethanol           1
Name: Fuel, dtype: int64

In [28]:
alpha_18_df.Fuel.value_counts()

Gasoline                1492
Ethanol/Gas               55
Diesel                    38
Gasoline/Electricity      24
Electricity                2
Name: Fuel, dtype: int64