# Inspecting Data Types
Use the space below to explore `data_08_v2.csv` and `data_18_v2.csv` to answer the quiz questions below regarding datatypes. You should've created these data files in the previous section: *Filter, Drop Nulls, Dedupe*.

In [1]:
import pandas as pd

In [2]:
data_08_df = pd.read_csv('data_08_v2.csv')
data_08_df.head(1)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,SUV,7,15,20,17,4,no

In [3]:
data_18_df = pd.read_csv('data_18_v2.csv')
data_18_df.head(1)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,small SUV,3,20,28,23,5,No

### Which of the following changes could be made to make the cyl column in both datasets clear and consistent?

In [4]:
data_08_df.cyl.unique()

array(['(6 cyl)', '(4 cyl)', '(12 cyl)', '(8 cyl)', '(10 cyl)', '(16 cyl)',
       '(5 cyl)', '(2 cyl)'], dtype=object)

In [9]:
data_08_df.cyl.value_counts(dropna=False)

(6 cyl)     409
(4 cyl)     283
(8 cyl)     199
(5 cyl)      48
(12 cyl)     30
(10 cyl)     14
(2 cyl)       2
(16 cyl)      1
Name: cyl, dtype: int64

In [5]:
data_18_df.cyl.unique()

array([  6.,   4.,   5.,  12.,  16.,   8.,   3.])

In [10]:
data_18_df.cyl.value_counts(dropna=False)

4.0     365
6.0     246
8.0     153
3.0      18
12.0      9
5.0       2
16.0      1
Name: cyl, dtype: int64

### Which of the following changes could be made to make the air_pollution_score column in both datasets consistent?

In [11]:
data_18_df.air_pollution_score.unique()

array([3, 1, 7, 5, 6])

In [13]:
data_18_df.air_pollution_score.value_counts(dropna=False)

3    372
5    187
7    139
1     89
6      7
Name: air_pollution_score, dtype: int64

In [12]:
data_08_df.air_pollution_score.unique()

array(['7', '6', '9.5', '9', '6/4'], dtype=object)

In [14]:
data_08_df.air_pollution_score.value_counts(dropna=False)

6      500
7      398
9.5     80
9        7
6/4      1
Name: air_pollution_score, dtype: int64

### Which of the following features need to be converted to floats from strings?

In [16]:
data_08_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 13 columns):
model                   986 non-null object
displ                   986 non-null float64
cyl                     986 non-null object
trans                   986 non-null object
drive                   986 non-null object
fuel                    986 non-null object
veh_class               986 non-null object
air_pollution_score     986 non-null object
city_mpg                986 non-null object
hwy_mpg                 986 non-null object
cmb_mpg                 986 non-null object
greenhouse_gas_score    986 non-null object
smartway                986 non-null object
dtypes: float64(1), object(12)
memory usage: 100.2+ KB

In [18]:
data_08_df.head(5).T

,0,1,2,3,4
model,ACURA MDX,ACURA RDX,ACURA RL,ACURA TL,ACURA TL
displ,3.7,2.3,3.5,3.2,3.5
cyl,(6 cyl),(4 cyl),(6 cyl),(6 cyl),(6 cyl)
trans,Auto-S5,Auto-S5,Auto-S5,Auto-S5,Auto-S5
drive,4WD,4WD,4WD,2WD,2WD
fuel,Gasoline,Gasoline,Gasoline,Gasoline,Gasoline
veh_class,SUV,SUV,midsize car,midsize car,midsize car
air_pollution_score,7,7,7,7,7
city_mpg,15,17,16,18,17
hwy_mpg,20,22,24,26,26
cmb_mpg,17,19,19,21,20
greenhouse_gas_score,4,5,5,6,6
smartway,no,no,no,yes,yes

In [19]:
data_18_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 794 entries, 0 to 793
Data columns (total 13 columns):
model                   794 non-null object
displ                   794 non-null float64
cyl                     794 non-null float64
trans                   794 non-null object
drive                   794 non-null object
fuel                    794 non-null object
veh_class               794 non-null object
air_pollution_score     794 non-null int64
city_mpg                794 non-null object
hwy_mpg                 794 non-null object
cmb_mpg                 794 non-null object
greenhouse_gas_score    794 non-null int64
smartway                794 non-null object
dtypes: float64(2), int64(2), object(9)
memory usage: 80.7+ KB

In [20]:
data_18_df.head(5).T

,0,1,2,3,4
model,ACURA RDX,ACURA RDX,ACURA TLX,ACURA TLX,ACURA TLX
displ,3.5,3.5,2.4,3.5,3.5
cyl,6,6,4,6,6
trans,SemiAuto-6,SemiAuto-6,AMS-8,SemiAuto-9,SemiAuto-9
drive,2WD,4WD,2WD,2WD,4WD
fuel,Gasoline,Gasoline,Gasoline,Gasoline,Gasoline
veh_class,small SUV,small SUV,small car,small car,small car
air_pollution_score,3,3,3,3,3
city_mpg,20,19,23,20,21
hwy_mpg,28,27,33,32,30
cmb_mpg,23,22,27,24,24
greenhouse_gas_score,5,4,6,5,5
smartway,No,No,No,No,No

### Which changes need to be made to make the greenhouse_gas_score columns in both datasets consistent?

In [21]:
data_08_df.greenhouse_gas_score.unique()

array(['4', '5', '6', '7', '0', '1', '3', '2', '8', '9', '10', '7/6'], dtype=object)

In [22]:
data_18_df.greenhouse_gas_score.unique()

array([ 5,  4,  6,  7,  2,  1, 10,  3,  9,  8])